div style="background:#ffffff;margin-bottom:0px;" 
  .page-title
    .s-content
      .container-fluid
        span.fs24.fw700.b-color.t-up Affiliate program
  .vlb-bg.pt25.pb25
    .s-content
      .container-fluid
        .affiliate-top
          .c1
            .rb5.w-bg.p20
              .mb5.opacity5 You referral link:
              .ref-link
                /.link https://bitcharge.com/?ref=5371934
                .link 
                  span https://bitcharge.com/?ref=
                  span = @current_user.id
                .copy
                  .icon
                    .img
                  .txt Copy link
          .c2
            .rb5.w-bg.ovh
              .b-h-gradient.t-b-line
              .row.pt10.pb10
                .col-xs-6.sbr.tac.pt14.pb14
                  .fs30.fw700.lh30 12
                  .opacity5 total referrals
                .col-xs-6.tac.pt14.pb14
                  .fs30.fw700.lh30 5
                  .opacity5 active referrals
          .c2
            .rb5.w-bg.ovh
              .r-h-gradient.t-b-line
              .row.pt10.pb10
                .col-xs-12.sbr.tac.pt14.pb14
                  .fs30.fw700.lh30
                    | 0.005341
                    span.fs16.lh16 BTC
                  .opacity5 total referral commission
          .c2
            .rb5.w-bg.ovh
              .g-h-gradient.t-b-line
              .row.pt10.pb10
                .col-xs-12.sbr.tac.pt14.pb14
                  .fs30.fw700.lh30
                    | 0.001231
                    span.fs16.lh16 BTC
                  .opacity5 referral commission on current month
  .pt10.pb45
    .s-content
      .container-fluid
        .row
          .col-xs-4
            .aff-slider.mt50
              ul style=("width: 200%;") 
                li style=("width: 50%;") 
                  .tac.mb20
                    img alt="" src="../img/affiliate_img.png" /
                  .lh22
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                    | lectus metus, pellentesque id molestie vitae, faucibus at dui.
                    | Vivamus volutpat ac purus quis elementum. Nam rhoncus sem
                    | vitae aliquam vehicula. Sed a nibh ut felis mollis sollicitudin.
                li style=("width: 50%;") 
                  .tac.mb20
                    img alt="" src="../img/affiliate_img.png" /
                  .lh22
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus
                    | lectus metus, pellentesque id molestie vitae, faucibus at dui.
                    | Vivamus volutpat ac purus quis elementum. Nam rhoncus sem
                    | vitae aliquam vehicula. Sed a nibh ut felis mollis sollicitudin.
              .aff-slider-pag.mt10
                .item.act
                .item
                .item
            .rb7.w-bg.grey-box.mt80.pl20.pr20.pt15.pb15.rel
              .af-inv-switcher
                .item.li.act data-type="bm"  Invite friends by mail
                .item.ri data-type="bp"  Invite friends by phone
              .invite-box.ib-bm
                .fs13.t-up.mb12.ml5 Add friend information
                .row.form-line.mb12
                  .col-xs-12.rel
                    input.acc-input placeholder=("Enter name") type="text" /
                    .acc-input-label.mr6 Name
                .row.form-line.mb12.rel
                  .col-xs-12
                    input.acc-input placeholder=("Enter e-mail") type="text" /
                    .acc-input-label.mr6 E-mail
                .row.form-line.mb12
                  .col-xs-12
                    textarea.acc-textarea placeholder=("Enter message") type="text" 
                .green-but.w.mt10.w230
                  .icon
                  .name SEND invitation
              .invite-box.ib-bp.dn
                .fs13.t-up.mb12.ml5 Add friend information
                .row.form-line.mb12
                  .col-xs-12.rel
                    input.acc-input placeholder=("Enter name") type="text" /
                    .acc-input-label.mr6 Name
                .row.form-line.mb12.rel
                  .col-xs-12
                    input.acc-input placeholder=("Enter phone") type="text" /
                    .acc-input-label.mr6 Phone
                .row.form-line.mb12
                  .col-xs-12
                    textarea.acc-textarea placeholder=("Enter message") type="text" 
                .green-but.w.mt10.w230
                  .icon
                  .name SEND invitation
          .col-xs-8
            .fs16.fw700.b-color.mt35.mb10.t-up All referrals
            table.tb-data
              tr.title
                td Referral
                td total orders
                td profit orders
              tr.data
                td 42367234
                td 32
                td 12
              tr.data.even
                td 42367234
                td 32
                td 12
              tr.data
                td 42367234
                td 32
                td 12
              tr.data.even
                td 42367234
                td 32
                td 12
              tr.data
                td 42367234
                td 32
                td 12
              tr.data.even
                td 42367234
                td 32
                td 12
              tr.data
                td 42367234
                td 32
                td 12
              tr.data.even
                td 42367234
                td 32
                td 12
              tr.data
                td 42367234
                td 32
                td 12
              tr.data.even
                td 42367234
                td 32
                td 12
              tr.data
                td 42367234
                td 32
                td 12
              tr.data.even
                td 42367234
                td 32
                td 12
              tr.data
                td 42367234
                td 32
                td 12
              tr.data.even
                td 42367234
                td 32
                td 12
