div style="background:#ffffff;margin-bottom:0px;" 
  .page-title
    .s-content
      .container-fluid
        .row
          .col-xs-5
            span.fs24.fw700.b-color.t-up commissions and limits
          .col-xs-7
            .filter-curr-list-box.limits
              .item.act All currency
              .item USD
              .item INR
              .item crypto currency
  .pt10.pb45
    .s-content
      .container-fluid
        .fs16.fw700.b-color.mt15.mb10.t-up commssions
        table.tb-data.limits-box-tb
          tr.title.nb
            td.w20 payment method
            td.w40 deposit commission
            td.w40 withdrawal commission
        .rb7.ovh.w-bg.grey-box
          .b-t-bg.pt11.pb12.pl20.b-color.fw700.t-up.cf
            .fr
              .curtail-box.act
                .min -
                .plus.dn +
            span.lh24 crypto currency
          table.tb-data.limits-box-tb
            tr.data
              td.w20 BTC
              td.w40 1%
              td.w40 0.01BTC
            tr.data.even
              td.w20 BTC
              td.w40 1%
              td.w40 0.01BTC
            tr.data
              td.w20 BTC
              td.w40 1%
              td.w40 0.01BTC
            tr.data.even
              td.w20 BTC
              td.w40 1%
              td.w40 0.01BTC
            tr.data
              td.w20 BTC
              td.w40 1%
              td.w40 0.01BTC
        .rb7.ovh.w-bg.grey-box.mt20
          .b-t-bg.pt11.pb12.pl20.b-color.fw700.t-up.cf
            .fr
              .curtail-box.act
                .min -
                .plus.dn +
            span.lh24 INR
          table.tb-data.limits-box-tb
            tr.data
              td.w20 Payeer
              td.w40 1%
              td.w40 0.01BTC
            tr.data.even
              td.w20 PayPal
              td.w40 1%
              td.w40 0.01BTC
            tr.data
              td.w20 PerfectMoney
              td.w40 1%
              td.w40 0.01BTC
            tr.data.even
              td.w20 AdvCash
              td.w40 1%
              td.w40 0.01BTC
            tr.data
              td.w20 MoneyPolo
              td.w40 1%
              td.w40 0.01BTC
        .fs16.fw700.b-color.mt55.mb10.t-up Limits
        table.tb-data.limits-box-tb
          tr.title
            td Currency pair
            td Min. amount
            td Max. amount
            td Min. price
            td Max. price
            td Min. wihdrawal
            td Max. wihdrawal
          tr.data
            td BTC/USD
            td 0.01
            td 100
            td 1
            td 30000
            td 1
            td 200000
          tr.data.even
            td BTC/USD
            td 0.01
            td 100
            td 1
            td 30000
            td 1
            td 200000
          tr.data
            td BTC/USD
            td 0.01
            td 100
            td 1
            td 30000
            td 1
            td 200000
          tr.data.even
            td BTC/USD
            td 0.01
            td 100
            td 1
            td 30000
            td 1
            td 200000
          tr.data
            td BTC/USD
            td 0.01
            td 100
            td 1
            td 30000
            td 1
            td 200000
          tr.data.even
            td BTC/USD
            td 0.01
            td 100
            td 1
            td 30000
            td 1
            td 200000
          tr.data
            td BTC/USD
            td 0.01
            td 100
            td 1
            td 30000
            td 1
            td 200000
          tr.data.even
            td BTC/USD
            td 0.01
            td 100
            td 1
            td 30000
            td 1
            td 200000
          tr.data
            td BTC/USD
            td 0.01
            td 100
            td 1
            td 30000
            td 1
            td 200000
          tr.data.even
            td BTC/USD
            td 0.01
            td 100
            td 1
            td 30000
            td 1
            td 200000
