<div style="background:#ffffff;margin-bottom:0px;">
    <div class="page-title">
        <div class="s-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-5">
                        <span class="fs24 fw700 b-color t-up">commissions and limits</span>
                    </div>
                    <div class="col-xs-7">
                        <div class="filter-curr-list-box limits">
                            <div class="item act">All currency</div>
                            <div class="item">USD</div>
                            <div class="item">INR</div>
                            <div class="item">crypto currency</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    
    <div class="pt10 pb45">
        <div class="s-content">
            <div class="container-fluid">
    
                <div class="fs16 fw700 b-color mt15 mb10 t-up">commssions</div>
    
                <table class="tb-data limits-box-tb">
                    <tr class="title nb">
                        <td class="w20">payment method</td>
                        <td class="w40">deposit commission</td>
                        <td class="w40">withdrawal commission</td>
                    </tr>
                </table>
    
                <div class="rb7 ovh w-bg grey-box">
                        <div class="b-t-bg pt11 pb12 pl20 b-color fw700 t-up cf">
                            <div class="fr">
                                <div class="curtail-box act">
                                    <div class="min">-</div>
                                    <div class="plus dn">+</div>
                                </div>
                            </div>
                            <span class="lh24">crypto currency</span>
                        </div>
    
                    <table class="tb-data limits-box-tb">
                        <tr class="data">
                            <td class="w20">BTC</td>
                            <td class="w40">1%</td>
                            <td class="w40">0.01BTC</td>
                        </tr>
                        <tr class="data even">
                            <td class="w20">BTC</td>
                            <td class="w40">1%</td>
                            <td class="w40">0.01BTC</td>
                        </tr>
                        <tr class="data">
                            <td class="w20">BTC</td>
                            <td class="w40">1%</td>
                            <td class="w40">0.01BTC</td>
                        </tr>
                        <tr class="data even">
                            <td class="w20">BTC</td>
                            <td class="w40">1%</td>
                            <td class="w40">0.01BTC</td>
                        </tr>
                        <tr class="data">
                            <td class="w20">BTC</td>
                            <td class="w40">1%</td>
                            <td class="w40">0.01BTC</td>
                        </tr>
                    </table>
                </div>
    
                <div class="rb7 ovh w-bg grey-box mt20">
                    <div class="b-t-bg pt11 pb12 pl20 b-color fw700 t-up cf">
                        <div class="fr">
                            <div class="curtail-box act">
                                <div class="min">-</div>
                                <div class="plus dn">+</div>
                            </div>
                        </div>
                        <span class="lh24">INR</span>
                    </div>
    
                    <table class="tb-data limits-box-tb">
                        <tr class="data">
                            <td class="w20">Payeer</td>
                            <td class="w40">1%</td>
                            <td class="w40">0.01BTC</td>
                        </tr>
                        <tr class="data even">
                            <td class="w20">PayPal</td>
                            <td class="w40">1%</td>
                            <td class="w40">0.01BTC</td>
                        </tr>
                        <tr class="data">
                            <td class="w20">PerfectMoney</td>
                            <td class="w40">1%</td>
                            <td class="w40">0.01BTC</td>
                        </tr>
                        <tr class="data even">
                            <td class="w20">AdvCash</td>
                            <td class="w40">1%</td>
                            <td class="w40">0.01BTC</td>
                        </tr>
                        <tr class="data">
                            <td class="w20">MoneyPolo</td>
                            <td class="w40">1%</td>
                            <td class="w40">0.01BTC</td>
                        </tr>
                    </table>
                </div>
    
                <div class="fs16 fw700 b-color mt55 mb10 t-up">Limits</div>
    
                <table class="tb-data limits-box-tb">
                    <tr class="title">
                        <td>Currency pair</td>
                        <td>Min. amount</td>
                        <td>Max. amount</td>
                        <td>Min. price</td>
                        <td>Max. price</td>
                        <td>Min. wihdrawal</td>
                        <td>Max. wihdrawal</td>
                    </tr>
                    <tr class="data">
                        <td>BTC/USD</td>
                        <td>0.01</td>
                        <td>100</td>
                        <td>1</td>
                        <td>30000</td>
                        <td>1</td>
                        <td>200000</td>
                    </tr>
                    <tr class="data even">
                        <td>BTC/USD</td>
                        <td>0.01</td>
                        <td>100</td>
                        <td>1</td>
                        <td>30000</td>
                        <td>1</td>
                        <td>200000</td>
                    </tr>
                    <tr class="data">
                        <td>BTC/USD</td>
                        <td>0.01</td>
                        <td>100</td>
                        <td>1</td>
                        <td>30000</td>
                        <td>1</td>
                        <td>200000</td>
                    </tr>
                    <tr class="data even">
                        <td>BTC/USD</td>
                        <td>0.01</td>
                        <td>100</td>
                        <td>1</td>
                        <td>30000</td>
                        <td>1</td>
                        <td>200000</td>
                    </tr>
                    <tr class="data">
                        <td>BTC/USD</td>
                        <td>0.01</td>
                        <td>100</td>
                        <td>1</td>
                        <td>30000</td>
                        <td>1</td>
                        <td>200000</td>
                    </tr>
                    <tr class="data even">
                        <td>BTC/USD</td>
                        <td>0.01</td>
                        <td>100</td>
                        <td>1</td>
                        <td>30000</td>
                        <td>1</td>
                        <td>200000</td>
                    </tr>
                    <tr class="data">
                        <td>BTC/USD</td>
                        <td>0.01</td>
                        <td>100</td>
                        <td>1</td>
                        <td>30000</td>
                        <td>1</td>
                        <td>200000</td>
                    </tr>
                    <tr class="data even">
                        <td>BTC/USD</td>
                        <td>0.01</td>
                        <td>100</td>
                        <td>1</td>
                        <td>30000</td>
                        <td>1</td>
                        <td>200000</td>
                    </tr>
                    <tr class="data">
                        <td>BTC/USD</td>
                        <td>0.01</td>
                        <td>100</td>
                        <td>1</td>
                        <td>30000</td>
                        <td>1</td>
                        <td>200000</td>
                    </tr>
                    <tr class="data even">
                        <td>BTC/USD</td>
                        <td>0.01</td>
                        <td>100</td>
                        <td>1</td>
                        <td>30000</td>
                        <td>1</td>
                        <td>200000</td>
                    </tr>
                </table>
    
            </div>
        </div>
    </div>
</div>