.page-title.w
  .s-content
    .container-fluid
      .fl
        span.fs24.fw700.b-color.t-up Our special offers
.vlb-bg.pt25.pb25
  .s-content.offer-page
    .container-fluid
      .row
        .col-xs-4
          .rb7.w-bg.offer-box.pl10.pt10.pr10.pb20
            .h-img
              img alt="" src="../img/offer.jpg" /
            .offer-spec.mt20
              .item Min 10 referrals required
              .item Only active referrals will be counted
              .item Offer available till 31st Apr
            .tac.mt30
              .green-but.w
                .icon
                .name SEND CLAIM
        .col-xs-4
          .rb7.w-bg.offer-box.pl10.pt10.pr10.pb20
            .h-img
              img alt="" src="../img/offer.jpg" /
            .offer-spec.mt20
              .item Min 10 referrals required
              .item Only active referrals will be counted
              .item Offer available till 31st Apr
            .row.mt30.ml15.mr15
              .col-xs-6
                .fl.tac
                  .fs12.opacity5 Claim send date:
                  .fs14 11 Apr, 2018 12:53
              .col-xs-6
                .offer-sts.wait.mt10
                  | waiting activation
        .col-xs-4
          .rb7.w-bg.offer-box.pl10.pt10.pr10.pb20
            .h-img
              img alt="" src="../img/offer.jpg" /
            .offer-spec.mt20
              .item Min 10 referrals required
              .item Only active referrals will be counted
              .item Offer available till 31st Apr
            .row.mt40.ml15.mr15.tac
              .offer-sts.complete
                | complete
