<div class="support-page">
    <div class="left-bg">

    </div>
    <div class="right-bg">

    </div>
    <div class="s-content">
        <div class="container-fluid">
            <div class="col-xs-3 t-w-color" style="height:100%;">
                <a href="/" class="logo"><img src="../img/logo.png" alt=""></a>
                <div class="mt50 fs14 fw700 t-up mb20">frequently asked questions</div>

                <div class="faq-group-list">
                    <div class="item act" data-group="1">Main questions</div>
                    <div class="item" data-group="2">Wallet</div>
                    <div class="item" data-group="3">Orders</div>
                    <div class="item" data-group="4">Deposit and Withdraw</div>
                    <div class="item" data-group="5">Verification</div>
                </div>
                <div class="mt45 fs14 fw700 t-up mb25">user support</div>
                <div class="sc-us-data mail mb15">admin@bitcharge.com</div>
                <div class="sc-us-data phone">+11 23 23123 2314</div>

                <div class="mt50">
                    <div class="sc-us-data-but sf g mr15">Support form</div>
                    <div class="sc-us-data-but">Online chat</div>
                </div>
            </div>
            <div class="col-xs-9 w-bg rccol" style="height:100%;min-height: 705px;">
                <div class="pl70">
                    <div class="fs36 fw400 mt20 mb30">
                        Support center
                    </div>

                    <div class="faq-group gr1">
                        <div class="item">
                            <div class="question">
                                What is Bitcoin and how does it work?
                            <div class="icon"></div>
                            </div>
                            <div class="answer">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisi, tristique vel sollicitudin non, aliquam id nulla. Maecenas dapibus libero ac
                                lectus dignissim, in lacinia ipsum ultrices. In a facilisis eros. Donec non felis maximus, volutpat felis vitae, iaculis felis. Integer et pretium nunc,
                                ac maximus diam. Ut in venenatis leo. Vestibulum lobortis diam sit amet odio viverra, sit amet molestie enim sodales. Vivamus vulputate suscipit l
                                aoreet. Pellentesque velit ante, interdum ac neque non, scelerisque efficitur nibh. Donec scelerisque ipsum purus, ut molestie urna consectetur volutpat.
                            </div>
                        </div>
                        <div class="item">
                            <div class="question">
                                What is Bitcoin and how does it work?
                                <div class="icon"></div>
                            </div>
                            <div class="answer">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisi, tristique vel sollicitudin non, aliquam id nulla. Maecenas dapibus libero ac
                                lectus dignissim, in lacinia ipsum ultrices. In a facilisis eros. Donec non felis maximus, volutpat felis vitae, iaculis felis. Integer et pretium nunc,
                                ac maximus diam. Ut in venenatis leo. Vestibulum lobortis diam sit amet odio viverra, sit amet molestie enim sodales. Vivamus vulputate suscipit l
                                aoreet. Pellentesque velit ante, interdum ac neque non, scelerisque efficitur nibh. Donec scelerisque ipsum purus, ut molestie urna consectetur volutpat.
                            </div>
                        </div>
                        <div class="item">
                            <div class="question">
                                What is Bitcoin and how does it work?
                                <div class="icon"></div>
                            </div>
                            <div class="answer">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisi, tristique vel sollicitudin non, aliquam id nulla. Maecenas dapibus libero ac
                                lectus dignissim, in lacinia ipsum ultrices. In a facilisis eros. Donec non felis maximus, volutpat felis vitae, iaculis felis. Integer et pretium nunc,
                                ac maximus diam. Ut in venenatis leo. Vestibulum lobortis diam sit amet odio viverra, sit amet molestie enim sodales. Vivamus vulputate suscipit l
                                aoreet. Pellentesque velit ante, interdum ac neque non, scelerisque efficitur nibh. Donec scelerisque ipsum purus, ut molestie urna consectetur volutpat.
                            </div>
                        </div>
                        <div class="item">
                            <div class="question">
                                What is Bitcoin and how does it work?
                                <div class="icon"></div>
                            </div>
                            <div class="answer">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisi, tristique vel sollicitudin non, aliquam id nulla. Maecenas dapibus libero ac
                                lectus dignissim, in lacinia ipsum ultrices. In a facilisis eros. Donec non felis maximus, volutpat felis vitae, iaculis felis. Integer et pretium nunc,
                                ac maximus diam. Ut in venenatis leo. Vestibulum lobortis diam sit amet odio viverra, sit amet molestie enim sodales. Vivamus vulputate suscipit l
                                aoreet. Pellentesque velit ante, interdum ac neque non, scelerisque efficitur nibh. Donec scelerisque ipsum purus, ut molestie urna consectetur volutpat.
                            </div>
                        </div>
                        <div class="item">
                            <div class="question">
                                What is Bitcoin and how does it work?
                                <div class="icon"></div>
                            </div>
                            <div class="answer">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisi, tristique vel sollicitudin non, aliquam id nulla. Maecenas dapibus libero ac
                                lectus dignissim, in lacinia ipsum ultrices. In a facilisis eros. Donec non felis maximus, volutpat felis vitae, iaculis felis. Integer et pretium nunc,
                                ac maximus diam. Ut in venenatis leo. Vestibulum lobortis diam sit amet odio viverra, sit amet molestie enim sodales. Vivamus vulputate suscipit l
                                aoreet. Pellentesque velit ante, interdum ac neque non, scelerisque efficitur nibh. Donec scelerisque ipsum purus, ut molestie urna consectetur volutpat.
                            </div>
                        </div>
                        <div class="item">
                            <div class="question">
                                What is Bitcoin and how does it work?
                                <div class="icon"></div>
                            </div>
                            <div class="answer">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisi, tristique vel sollicitudin non, aliquam id nulla. Maecenas dapibus libero ac
                                lectus dignissim, in lacinia ipsum ultrices. In a facilisis eros. Donec non felis maximus, volutpat felis vitae, iaculis felis. Integer et pretium nunc,
                                ac maximus diam. Ut in venenatis leo. Vestibulum lobortis diam sit amet odio viverra, sit amet molestie enim sodales. Vivamus vulputate suscipit l
                                aoreet. Pellentesque velit ante, interdum ac neque non, scelerisque efficitur nibh. Donec scelerisque ipsum purus, ut molestie urna consectetur volutpat.
                            </div>
                        </div>
                        <div class="item">
                            <div class="question">
                                What is Bitcoin and how does it work?2
                                <div class="icon"></div>
                            </div>
                            <div class="answer">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisi, tristique vel sollicitudin non, aliquam id nulla. Maecenas dapibus libero ac
                                lectus dignissim, in lacinia ipsum ultrices. In a facilisis eros. Donec non felis maximus, volutpat felis vitae, iaculis felis. Integer et pretium nunc,
                                ac maximus diam. Ut in venenatis leo. Vestibulum lobortis diam sit amet odio viverra, sit amet molestie enim sodales. Vivamus vulputate suscipit l
                                aoreet. Pellentesque velit ante, interdum ac neque non, scelerisque efficitur nibh. Donec scelerisque ipsum purus, ut molestie urna consectetur volutpat.
                            </div>
                        </div>
                    </div>

                    <div class="faq-group gr2 dn">
                        <div class="item">
                            <div class="question">
                                What is Bitcoin and how does it work?2
                                <div class="icon"></div>
                            </div>
                            <div class="answer">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisi, tristique vel sollicitudin non, aliquam id nulla. Maecenas dapibus libero ac
                                lectus dignissim, in lacinia ipsum ultrices. In a facilisis eros. Donec non felis maximus, volutpat felis vitae, iaculis felis. Integer et pretium nunc,
                                ac maximus diam. Ut in venenatis leo. Vestibulum lobortis diam sit amet odio viverra, sit amet molestie enim sodales. Vivamus vulputate suscipit l
                                aoreet. Pellentesque velit ante, interdum ac neque non, scelerisque efficitur nibh. Donec scelerisque ipsum purus, ut molestie urna consectetur volutpat.
                            </div>
                        </div>
                        <div class="item">
                            <div class="question">
                                What is Bitcoin and how does it work?2
                                <div class="icon"></div>
                            </div>
                            <div class="answer">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisi, tristique vel sollicitudin non, aliquam id nulla. Maecenas dapibus libero ac
                                lectus dignissim, in lacinia ipsum ultrices. In a facilisis eros. Donec non felis maximus, volutpat felis vitae, iaculis felis. Integer et pretium nunc,
                                ac maximus diam. Ut in venenatis leo. Vestibulum lobortis diam sit amet odio viverra, sit amet molestie enim sodales. Vivamus vulputate suscipit l
                                aoreet. Pellentesque velit ante, interdum ac neque non, scelerisque efficitur nibh. Donec scelerisque ipsum purus, ut molestie urna consectetur volutpat.
                            </div>
                        </div>
                        <div class="item">
                            <div class="question">
                                What is Bitcoin and how does it work?2
                                <div class="icon"></div>
                            </div>
                            <div class="answer">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris dui nisi, tristique vel sollicitudin non, aliquam id nulla. Maecenas dapibus libero ac
                                lectus dignissim, in lacinia ipsum ultrices. In a facilisis eros. Donec non felis maximus, volutpat felis vitae, iaculis felis. Integer et pretium nunc,
                                ac maximus diam. Ut in venenatis leo. Vestibulum lobortis diam sit amet odio viverra, sit amet molestie enim sodales. Vivamus vulputate suscipit l
                                aoreet. Pellentesque velit ante, interdum ac neque non, scelerisque efficitur nibh. Donec scelerisque ipsum purus, ut molestie urna consectetur volutpat.
                            </div>
                        </div>

                    </div>
                    <div class="faq-group gr5 dn" style="margin-left: -40px;">
                        <div class="vlb-bg pt25 pb25">
                            <div class="s-content">
                                <div class="container-fluid">
                        
                                    <div class="rb7 w-bg">
                                        <div class="settings-title">
                                            true face identify
                                        </div>
                                        <div class="pl20 pr20 pt25 pb25">
                                            <div class="row">
                                                <div class="col-xs-3">
                                                    <div class="ver-help-box">
                                                    <img style="width: 100%;" src="../img/face_true.png" alt="">
                                                    <div class="mt15 lh24">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                                                        lacinia, leo vel ullamcorper iaculis, mauris dolor pretium orci, non
                                                        tincidunt quam massa quis quam. Nullam odio est, mattis
                                                        egestas gravida nec, lacinia vel risus. Morbi vitae bibendum tellus.
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 col-xs-offset-1">
                                                    <div class="ver-help-box">
                                                    <img style="width: 100%;" src="../img/face_wrong_1.png" alt="">
                                                    <div class="mt15 lh24">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                                                        lacinia, leo vel ullamcorper iaculis, mauris dolor pretium orci, non
                                                        tincidunt quam massa quis quam. Nullam odio est, mattis
                                                        egestas gravida nec, lacinia vel risus. Morbi vitae bibendum tellus.
                                                    </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-3 col-xs-offset-1">
                                                    <div class="ver-help-box">
                                                    <img style="width: 100%;" src="../img/face_wrong_2.png" alt="">
                                                    <div class="mt15 lh24">
                                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                                                        lacinia, leo vel ullamcorper iaculis, mauris dolor pretium orci, non
                                                        tincidunt quam massa quis quam. Nullam odio est, mattis
                                                        egestas gravida nec, lacinia vel risus. Morbi vitae bibendum tellus.
                                                    </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                                    <div class="rb7 w-bg mt20">
                                        <div class="settings-title">
                                            true document identify
                                        </div>
                                        <div class="pl20 pr20 pt25 pb25">
                                            <div class="row">
                                                <div class="col-xs-4">
                                                    <div class="ver-help-box">
                                                        <img style="width: 100%;" src="../img/doc_true.png" alt="">
                                                        <div class="mt15 lh24">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                                                            lacinia, leo vel ullamcorper iaculis, mauris dolor pretium orci, non
                                                            tincidunt quam massa quis quam. Nullam odio est, mattis
                                                            egestas gravida nec, lacinia vel risus. Morbi vitae bibendum tellus.
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-xs-4">
                                                    <div class="ver-help-box">
                                                        <img style="width: 100%;" src="../img/doc_wrong.png" alt="">
                                                        <div class="mt15 lh24">
                                                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras
                                                            lacinia, leo vel ullamcorper iaculis, mauris dolor pretium orci, non
                                                            tincidunt quam massa quis quam. Nullam odio est, mattis
                                                            egestas gravida nec, lacinia vel risus. Morbi vitae bibendum tellus.
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                        
                        
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="support-form dn">
                        <div class="t-up fw700 mb25">send message to technical support</div>
                        <div class="row form-line">
                            <div class="col-xs-7 mb15">
                                <input class="acc-input" placeholder="Your username" type="text">
                            </div>
                            <div class="col-xs-7 mb15">
                                <div class="rel">
                                    <div class="phone-country">
                                        <div class="val">
                                            <img src="../img/c_ind.png" alt="">
                                        </div>
                                        <div class="list">
                                            <div class="item">
                                                <div class="img-val"><img src="../img/c_ind.png" alt=""></div>
                                                <div class="name">India</div>
                                            </div>
                                            <div class="item">
                                                <div class="img-val"><img src="../img/c_eng.png" alt=""></div>
                                                <div class="name">England</div>
                                            </div>
                                            <div class="item">
                                                <div class="img-val"><img src="../img/c_ind.png" alt=""></div>
                                                <div class="name">India</div>
                                            </div>
                                            <div class="item">
                                                <div class="img-val"><img src="../img/c_ind.png" alt=""></div>
                                                <div class="name">India</div>
                                            </div>
                                            <div class="item">
                                                <div class="img-val"><img src="../img/c_ind.png" alt=""></div>
                                                <div class="name">India</div>
                                            </div>
                                        </div>
                                    </div>
                                    <input class="acc-input phone" placeholder="Please enter phone" type="text">
                                </div>
                            </div>
                            <div class="col-xs-7 mb15">
                                <div class="custom-select sf">
                                    <select name="" placeholder="Please choose category">
                                        <option value="">--</option>
                                        <option value="1980">1980</option>
                                        <option value="1982">1982</option>
                                        <option value="1982">1982</option>
                                        <option value="1983">1983</option>
                                        <option value="1984">1984</option>
                                        <option value="1985">1985</option>
                                    </select>
                                    <div class="val placeholder">Please choose category</div>
                                </div>
                            </div>
                            <div class="col-xs-10">
                                <textarea name="" id="" class="acc-textarea" placeholder="You message"></textarea>
                            </div>

                        </div>
                        <div class="green-but w mt25 w230">
                            <div class="icon"></div>
                            <div class="name">send message</div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>
