<!--<div class="header-sep" style="height:109px"></div> -->
<div class="page-title" style="margin:0px;">
  <div class="s-content">
      <div class="container-fluid">
          <div class="fl">
              <span class="fs24 fw700 b-color t-up">Wallet</span>
          </div>
          <div class="fr">
              <a href="" class="w-set-but green-but w">
                  <span class="set-icon"></span>
                  Settings
              </a>
          </div>
      </div>
  </div>
</div>
<div class="vlb-bg pt25 pb25">
  <div class="s-content">
      <div class="container-fluid">
        <bankaccounts></bankaccounts>
      </div>
  </div>
</div>
<div class="pt25 pb45">
    <div class="s-content">
        <div class="container-fluid">
            <accounts></accounts>
            <div class="wallet-action-box">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>

<% content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
      $(window).load(function () {
          $.ajax({
              type: "post",
              url: "<%= gen_address_funds_path %>"
          });

          $(document).on('click', '.switcher-box .item', function () {

              var group = $(this).closest('.switcher-box').data('group');

              $('.switcher-box .item').removeClass('act');
              $(this).addClass('act');

              var index = $(this).index();

              $('.' + group).hide();
              $('.' + group).eq(index).show();
          });
      });
  </script>
<% end %>
